<div class="grid">
 
    <figure class="effect-lily">
        <img src="<%= image_path('img/1.jpg') %>" alt="img 01" />                                                 
        <figcaption>
            <h2>PVC/ <span>Percussion</span></h2>
            <p>Percussive roots with a new twist</p>
            <a href="#">View more</a>
        </figcaption>         
    </figure>
    
    <figure class="effect-sadie">
      <img src="<%= image_path('img/2.jpg') %>" alt="img 02" />
      <figcaption>
        <h2>Acoustics/ <span>Guitar</span></h2>
        <p>Combining elegant design and musicality</p>
        <a href="#">View more</a>
      </figcaption>
    </figure>
    
    <figure class="effect-layla">
      <img src="<%= image_path('img/10.jpg') %>" alt="img 010" />
      <figcaption>
        <h2>3D Printing <span>Endless Possibilities</span></h2>
        <p>Bringing together software and creativity</p>
        <a href="#">View more</a>
      </figcaption>
    </figure>
 
    <figure class="effect-zoe">
      <img src="<%= image_path('img/4.jpg') %>" alt="img 04" />
      <figcaption>
        <h2>Performance and <span>Spreading Interest</span></h2>
        <p>Bringing together students</p>
        <a href="#">View more</a>
      </figcaption>
    </figure>
    
    <figure class="effect-bubba">
      <img src="<%= image_path('img/5.jpg') %>" alt="img 05" />
      <figcaption>
        <h2>Expansion/ <span>Vision</span></h2>
        <p>Planning for the future</p>
        <a href="#">View more</a>
      </figcaption>
    </figure>
    
    <figure class="effect-romeo">
      <img src="<%= image_path('img/7.jpg') %>" alt="img 07" />
      <figcaption>
        <h2>Sign Up <span>Get Connected</span></h2>
        <p>Get involved today</p>
        <a href="#">View more</a>
      </figcaption>
    </figure>
     
</div>