<header class= "navbar navbar-fixed-top"> <!-- class="navbar navbar-fixed-top navbar navbar-right">  -->
  <div class="container" id="header-container">
    <!--<%= link_to "sample app", root_path, id: "logo" %>-->
    <nav>
      <ul class="nav navbar-nav">  <!-- pull-right -->
        <li id="header-data"><%= link_to "Home",            root_path %></li>
        <li id="header-data"><%= link_to "Instruments",     instruments_path %></li>
        <li id="header-data"><%= link_to "Performance",     performance_path %></li>
        <li id="header-data"><%= link_to "Design",          design_path %></li>
      </ul>
    </nav>
  </div>
</header>